
body {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	background: SpringGreen;
	max-width: 1000px;
	min-width: 600px;	
	margin: auto;
		
}
h1 {
	color: purple;
	background: LightYellow;
	font-family: Verdana, sans-serif;
	font-size: 16px;
}

/* tabeli stiil algab siit */

table {
	background: LightYellow;
	}
#table{width:100%;}
	
caption {
	font-weight: bold;
	background: white;
	/*border: 1px dashed black;*/
	}
	
/* menüü stiil algab siit */
	
ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 9px 25px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    font-weight: bold;
    background-color: brown;
}
/*form*/

#wrap{
	width:768px;
	margin:0 auto;
	text-align:left;
	margin-top:8px;
	padding:5px;
	background:LightYellow;
    font-family: Arial, Helvetica, sans-serif;
	font-size:14px;    
    line-height:16px;
}

#wrap legend{
	font-size:16px;
	font-family: "Times New Roman", Times, serif;
	color:#000;
	font-weight:bold;
	font-style:italic;
    padding-bottom:10px;
}
#wrap .cont_details input{
	margin-bottom:10px;
	color:#000;
}
#wrap .input1:hover,.input1:active{
	
}
#wrap label{
	display:block;
	font-size:12px;
	color:#000;
    font-weight:bold;
}
#wrap label.inlinelabel
{
    display:inline;
}
#wrap .cont_order input{
	margin-bottom:5px;
}
#wrap .cont_order p{
	padding-top:5px;
}


#wrap input[type="text"]:hover,
#wrap input[type="text"]:active {
background-color: #FAF398;
}

#wrap input#submit
{
margin:10px;
padding-left:20px;
padding-right:20px;
padding-top:10px;
padding-bottom:10px;
}

#wrap div#total
{
    padding:10px;
    font-weight:bold;
    background-color:Pink;
}